<div class="flex w-full flex-col justify-center items-center">
  <div class="flex md:w-1/2 justify-center py-10 items-center bg-white">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "bg-white") do |f|%>
      <%= render "devise/shared/error_messages", resource: resource %>
      <h1 class="text-gray-800 font-bold text-2xl mb-3">Login</h1>
      <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
        <%= f.email_field :email, class: "pl-2 outline-none border-none border-transparent focus:border-transparent focus:ring-0", placeholder: "Email address", autocomplete: "email", autofocus: true%>
      </div>
      <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
        <%= f.password_field :password, class: "pl-2 outline-none border-none border-transparent focus:border-transparent focus:ring-0", placeholder: "Password", autocomplete: "new-password", autofocus: true%>
      </div>
      <div class="mt-4 ml-2 ">
        <%= f.check_box :remember_me, class: "rounded"%>
        <%= f.label :remember_me, class: "text-gray-400 text-sm font-bold"%>
      </div>
      <%= f.submit "Login", class: "block w-full bg-amaranth-600 hover:bg-amaranth-700 mt-4 py-3
       rounded-2xl text-white-50 cursor-pointer font-semibold mb-2"%>
       <div class="mt-6">
        <%= render "devise/shared/links"%>
      </div>
    <% end %>
  </div>
</div>